
.final-intro {
    width: 750px;
    margin: 20px 30px 50px 30px;
    padding: 10px;
    font-size : 24px;
    margin-left : 110px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.555);
}

.final-intro ul {
    list-style: none;
}

.final-intro li {
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
    padding-left : 120px;
    line-height: 35px;
}

.callnlink {
    padding: 10px;
    width: 750px;
    border : 2px double  rgba(255, 255, 255, 0.555);
    margin-left : 110px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.555);
    color : rgba(218, 228, 173, 0.89);
}


.cl-title  {
    font-size: 24px;
    padding-bottom: 10px;
}

.callnlink li {
    font-size: 18px;
    margin-left: 20px;
}

.callnlink a {
    text-decoration: none;
    color : rgba(218, 228, 173, 0.89)
}

.call {
    display: inline-block;
    border-right : 2px solid rgba(255, 255, 255, 0.555);
    padding-right: 30px;

}

.link {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.call span{
    color: white;
}

@media all and (min-width : 1281px) {
    .step3-contents{
        position: relative;
        left : 220px;
    }
}

