.step2-contents{
    display:block;
    margin-right : 253px;
}

.contents {
    display: block;
    width: 720px;
    margin-bottom : 50px;
    margin-left : auto;
    margin-right :auto;
    list-style: none;
    padding: 20px;
    font-size : 24px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.555);
}

.contents ul {
    list-style: none;
}

.contents ul li {
    font-size: 20px;
    padding-left : 120px;
    line-height: 35px;
}

