
.step3-contents{
    display: block;
    margin-right : 253px;
}
.final-intro {
    display: block;
    width: 750px;
    margin-top:20px;
    margin-bottom: 30px;
    padding: 10px;
    font-size : 24px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.555);
    margin-left:auto;
    margin-right : auto;
}

.final-intro ul {
    list-style: none;
}

.final-intro li {
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
    padding-left : 120px;
    line-height: 35px;
}

.callnlink {
    display: block;
    margin-left:auto;
    margin-right : auto;

    padding: 10px;
    width: 750px;
    border : 2px double  rgba(255, 255, 255, 0.555);
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.555);
    color : rgb(243, 255, 193)
}



.cl-title  {
    font-size: 24px;
    padding-bottom: 10px;
    color: white;
}

.callnlink li {
    font-size: 18px;
    margin-left: 20px;
}

.callnlink a {
    text-decoration: none;
    color : rgb(243, 255, 193)
}

.call {
    display: inline-block;
    border-right : 2px solid rgba(255, 255, 255, 0.555);
    padding-right: 30px;

}

.link {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.call span{
    color: white;
}
