    .change-container{
        display: block;
        margin-right :253px;
    }

    .change-boxs{
        margin-left : auto;
        margin-right : auto;
        width: 800px;    
    }

    .sub {
        display: block;
        color: dimgray;
        margin: 20px 20px;
        font-size : 25px;
    }

    .sub2 {
        margin-bottom: 60px;
    }

    .change {
        display: block;
        width: 340px;
        height: 380px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.555);
        margin-bottom: 50px;
        margin-left : 30px;
        margin-right : 30px;
        float : left;
    }
    
    .emotion {
        clear: left;
    }


    .change h1 {
        font-size : 30px;
        padding : 5px 0 5px 0;
        text-align: center;
    }
    

    .change ul {
        font-size : 20px;
        margin-top : 20px;
        margin-bottom: 20px;
        text-align: left;
    }
    
    .change li {
        padding: 15px;
        line-height: 23px;
    }

